
"parent":
	"prefix": "＠",

<div className="gblHeader">
  <div className="gblHeader-inner [--bg:＠]">
    <div className="gblHeader-area gblHeader-area--bcRatio aspect-[＠/＠]">

<div className="gblFooter">
  <div className="gblFooter-inner [--bg:＠]">
    <div className="gblFooter-area gblFooter-area--bcRatio aspect-[＠/＠]">

<div className="parent01">
  <div className="parent01-inner">
    <div className="parent01-area parent01-area--bcRatio aspect-[＠/＠]">

<div className="parent02">
  <div className="parent02-inner">
    <div className="parent02-area parent02-area--bcRatio aspect-[＠/＠]">

<div className="parent03">
  <div className="parent03-inner">
    <div className="parent03-area parent03-area--bcRatio aspect-[＠/＠]">

<div className="parent04">
  <div className="parent04-inner">
    <div className="parent04-area parent04-area--bcRatio aspect-[＠/＠]">

<div className="parent05">
  <div className="parent05-inner">
    <div className="parent05-area parent05-area--bcRatio aspect-[＠/＠]">

<div className="parent06">
  <div className="parent06-inner">
    <div className="parent06-area parent06-area--bcRatio aspect-[＠/＠]">

<div className="parent07">
  <div className="parent07-inner">
    <div className="parent07-area parent07-area--bcRatio aspect-[＠/＠]">

<div className="parent08">
  <div className="parent08-inner">
    <div className="parent08-area parent08-area--bcRatio aspect-[＠/＠]">



"/parent":
"prefix": "＠",

    </div>{/* /gblHeader-area */}
  </div>{/* /gblHeader-inner */}
</div>{/* /gblHeader */}

    </div>{/* /gblFooter-area */}
  </div>{/* /gblFooter-inner */}
</div>{/* /gblFooter */}

    </div>{/* /parent01-area */}
  </div>{/* /parent01-inner */}
</div>{/* /parent01 */}

    </div>{/* /parent02-area */}
  </div>{/* /parent02-inner */}
</div>{/* /parent02 */}

    </div>{/* /parent03-area */}
  </div>{/* /parent03-inner */}
</div>{/* /parent03 */}

    </div>{/* /parent04-area */}
  </div>{/* /parent04-inner */}
</div>{/* /parent04 */}

    </div>{/* /parent05-area */}
  </div>{/* /parent05-inner */}
</div>{/* /parent05 */}

    </div>{/* /parent06-area */}
  </div>{/* /parent06-inner */}
</div>{/* /parent06 */}

    </div>{/* /parent07-area */}
  </div>{/* /parent07-inner */}
</div>{/* /parent07 */}

    </div>{/* /parent08-area */}
  </div>{/* /parent08-inner */}
</div>{/* /parent08 */}



----------
<div className="colBk">
----------
</div>{/* colBk */}
----------
<div className="rowBk">
----------
</div>{/* rowBk */}
----------
<div className="rowBk rowBk--col">
----------
</div>{/* rowBk */}
----------
<ul className="rowBk rowBk--row">
----------
</ul>{/* rowBk */}
----------



----------
<div className="rowBk-txtBox">
  <div className="rowBk-txt">
    <p className="title">＠</p>
  </div>
</div>
----------
<div className="rowBk-txtBox">
  <div className="rowBk-txt">
    <p className="topic">＠</p>
  </div>
</div>
----------



----------
<div className="rowBk-txtBox">
  <div className="rowBk-txt">
    <p className="read">＠</p>
  </div>
</div>
----------
<div className="rowBk-txtBox">
  <div className="rowBk-txt">
    <p className="summary">＠</p>
  </div>
</div>
----------
<div className="rowBk-txtBox">
  <div className="rowBk-txt">
    <p className="caption">＠</p>
  </div>
</div>
----------




----------
<div className="rowBk-txtBox">
  <div className="rowBk-txt">
    <p className="text md:[--fs:＠] [--fs:＠]">＠</p>
  </div>
</div>
----------
<div className="rowBk-txtBox">
  <div className="rowBk-txt">
    <p className="ttlText md:[--fs:＠] [--fs:＠]">＠</p>
  </div>
</div>
----------
<div className="rowBk-imgBox">
  <div className="rowBk-img">
    <img className="image aspect-[＠/＠] [--rnd:＠]" src={imgPage01.page01Img01} alt="＠" />
  </div>
</div>
----------





----------
<div className="rowBk-imgBox">
  <div className="rowBk-img">
    <img className="imageSquare aspect-[＠/＠]" src={imgPage01.page01Img01} alt="＠" />
  </div>
</div>
----------
<div className="rowBk-imgBox">
  <div className="rowBk-img">
    <img className="imageRound aspect-[＠/＠]" src={imgPage01.page01Img01} alt="＠" />
  </div>
</div>
----------




----------
<div className="rowBk-btnBox aspect-[＠/＠]">
  <div className="rowBk-btn">
    <p className="text md:[--fs:＠] [--fs:＠]">＠</p>
  </div>
</div>
----------
<li className="rowBk-listBox">
  <div className="rowBk-list">
    <p className="text md:[--fs:＠] [--fs:＠]"><Link to="/">＠</Link></p>
  </div>
</li>
----------
<li className="rowBk-btnListBox aspect-[＠/＠]">
  <div className="rowBk-btnList">
    <p className="text md:[--fs:＠] [--fs:＠]"><Link to="/">＠</Link></p>
  </div>
</li>
----------


Form

----------
----------
----------
----------
----------
